@import "./share";

html {
  font-size: 14px;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1;
  color: $base-font-color;
  background-color: $base-bg;
}

* {
  outline: none;
  box-sizing: border-box;
}

